body {
	margin: 0;
}
#bloc-page {
	width: 100%;
	display: flex;
	font-family: Helvetica, sans-serif;
    color: #37474f;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
ul{
    padding: 0;
}
aside {
	display: flex;
	flex-direction: column;
	width: auto;
	width: 40%;
	background-color: #b3e5fc;
}
main {
	padding: 0 5%;
}
.bloc-inner {
	padding: 30px;
}
#container-bloc-aside {
	padding: 40px;
}
#profil-picture-section {
	margin: 50px 0 50px 0;
	width: auto;
	display: flex;
	justify-content: center;
}
main {
	display: flex;
	flex-direction: column;
	width: auto;
}

img {
	border-radius: 50%;
	width: 200px;
	border: 4px #82b3c9 solid;
    padding: 2px;
}
.container-aside-title {
	display: flex;
	justify-content: center;
	background-color: #424242;
	padding: 10px 0 10px 0;
}
.aside-title {
    padding: 5px 0;
	color: #b3e5fc;
	margin: 0;
}
.li-profil-contacts {
	font-weight: bold;
	margin-bottom: 15px;
	list-style: none;
	margin-bottom: 20px;
}
.subtext,
.subtext > a {
	color: #62727b;
}
.bloc-inner > p {
	text-align: justify;
}
.container-hoobies-icons {
	padding: 40px;
	display: flex;
	justify-content: space-around;
}
.container-icon {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 4px #424242 solid;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-icon > i {
	color: #424242;
	font-size: 2em;
}
h1 {
	margin-top: 70px;
}
.first-name {
	color: #b3e5fc;
}
.job {
	font-size: 1.5em;
	position: relative;
	margin-bottom: 100px;
}
.job::after {
	content: "";
	height: 2px;
	width: 70px;
	background-color: #b3e5fc;
	position: absolute;
	left: 0;
	bottom: 0;
}
.bloc-main {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}
.bloc-main-title {
	display: flex;
	align-items: center;
}
.bloc-main-title > i {
	padding-right: 15px;
	font-size: 1.9em;
    color: #b3e5fc;
}
.skill {
	display: inline-block;
}

.fa-caret-right {
	padding-right: 10px;
    color: #b3e5fc;
}
.fa-external-link-alt {
	padding-left: 10px;
}
.multi-repo-project {
	display: inline-block;
	margin-left: 40px;
	margin-top: 20px;
}
.separate-line {
	margin-bottom: 10px;
	width: 100%;
	height: 2px;
	background-color: #9e4b4b;
}
.box-experience {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.caret-date {
	display: flex;
	flex: 1;
}
.caret-date > i {
	padding-right: 10px;
}
.description {
	display: flex;
	flex-direction: column;
	flex: 4;
	text-align: justify;
}
h4 {
	margin-top: 0;
}
.last-section {
	padding-top: 40px;
	padding-bottom: 20px;
}
